# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
defaults: &defaults
  docker:
    - image: circleci/node:13.8.0
  
commands:
  print_pipeline_id:
    description: "print Circle CI Workflow ID"
    parameters:
      to:
        type: string
        default: "Pipeline_id ?"
    steps: 
      - run: echo << parameters.to >>
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1
# Orchestrate or schedule a set of jobs
jobs:
  save_hello_world_output:
    <<: *defaults
    steps:
      - checkout
      - run: echo "hello world" > output.txt       
      - persist_to_workspace:
          root: .
          paths:
            - output.txt
  print_output_file:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: cat output.txt 
  print_workflow_id:
    <<: *defaults
    steps: 
      - print_pipeline_id:
          to: $CIRCLE_WORKFLOW_ID
  test_fail:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: return 1
      - run:
          name: alert failure message
          command: echo "This job failed"
          when: on_fail
      
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - welcome/run
      - save_hello_world_output
      - print_output_file:
          requires:
            - save_hello_world_output 
      - print_workflow_id
      - test_fail
